* {
    margin: 0;
    padding: 0;
}

.movie-container {
   height: 100vh;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(4,4fr);
   place-items: center;
   gap: 1rem;
}

.movie-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #000;
    width: 14rem;
    height: auto;
}

.movie-poster {
    width: auto;
    height: 17rem; /* Adjusted to cover the entire container */
    object-fit: cover;
}

.movie-name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;/* Positioned absolutely */
}

.book-button {
    height: 35px;
    background-color: #4CAF50;
    color: #fff;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;/* Positioned absolutely */
    width: 12rem;
}
